<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="untitled2">
        <title>TDC 0.3.2</title>
        <link rel="stylesheet" id="oui" href="{{ url_for('static', filename='css/xMwr.css') }}">
    </head>
    <body>
        <h1>Tableau de conjugaison v0.3.2</h1>
        <table>
            <tr>
                <th rowspan="2" colspan="2"></th>
                <th colspan="2" >Passé</th>
                <th colspan="2" >Present</th>
                <th colspan="2" >Futur</th>
                <th colspan="2" >Contextuel</th>
                <th colspan="4" >Subjonctif</th>
                <th colspan="3" >Impératif</th>
            </tr>
            <tr>
                <th>Affirmatif</th>
                <th>Négatif</th>
                <th>Affirmatif</th>
                <th>Négatif</th>
                <th>Affirmatif</th>
                <th>Négatif</th>
                <th>Affirmatif</th>
                <th>Négatif</th>
                <th colspan="2">Affirmatif</th>
                <th colspan="2">Négatif</th>
                <th>Affirmatif</th>
                <th colspan="2">Négatif</th>
            </tr>
            <tr>
                <th rowspan="2">Parfait</th>
                <th>Normal</th>
                <td>pps rat2<br>v 3</td>
                <td>pps cnt1<br>v 1</td>
                <td>pps rat1<br>itc pre<br>v 1</td>
                <td>pps rnt1<br>itc pre<br>v 1</td>
                <td>pps rat1<br>itc fut<br>v 1</td>
                <td>pps rnt1<br>itc fut<br>v 1</td>
                <td>pps cat1<br>itc co1<br>itc co2<br>v 1</td>
                <td>Ø</td>
                <td rowspan="2">pps rat1<br>v 2</td>
                <td rowspan="2">pps cat1<br>v 2</td>
                <td rowspan="2">pps rnt1<br>itc pre<br>v 2</td>
                <td rowspan="2">pps cat1<br>v 1</td>
                <td>itc imp<br>pps rat1<br>v 2<br>(x 2si, 3si)<br>,<br>v 1<br>(2si)<br>,<br>itc imp<br>v 2<br>(3si)</td>
                <td>pps rnt1<br>itc pre<br>v 2</td>
            </tr>
            <tr>
                <th>Participe</th>
                <td>pps cat1<br>v 1</td>
                <td>pps cnt1<br>v 1</td>
                <td>pps rat1<br>v p</td>
                <td>pps rnt1<br>itc pre<br>v 1</td>
                <td>pps rat1<br>itc fut<br>v p</td>
                <td>pps rnt1<br>itc fut<br>v 1</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
            </tr>
            <tr>
                <th rowspan="2">Imparfait</th>
                <th>Normal</th>
                <td>pps cat1<br>itc pas<br>v 1</td>
                <td>pps cnt1<br>itc pas<br>v 1</td>
                <td>pps cat3<br>v 1</td>
                <td>pps rnt1<br>v 3</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td colspan="2">Ø</td>
                <td colspan="2">Ø</td>
                <td>Ø</td>
                <td>Ø</td>
            </tr>
            <tr>
                <th>Participe</th>
                <td>pps cat1<br>itc pas<br>v 1</td>
                <td>pps cnt1<br>itc pas<br>v 1</td>
                <td>pps rat1<br>v p</td>
                <td>pps rnt1<br>v 3</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td colspan="2">Ø</td>
                <td colspan="2">Ø</td>
                <td>Ø</td>
                <td>Ø</td>
            </tr>
            <tr>
                <th rowspan="2">Conditionnel</th>
                <th>Normal</th>
                <td>pps cat1<br>itc pas<br>itc fut<br>v 1</td>
                <td>pps cnt1<br>itc pas<br>itc fut<br>v 1</td>
                <td>pps cat1<br>itc fut<br>v 1</td>
                <td>pps cnt1<br>itc fut<br>v 1</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td colspan="2">Ø</td>
                <td colspan="2">Ø</td>
                <td>Ø</td>
                <td>Ø</td>
            </tr>
            <tr>
                <th>Participe</th>
                <td>pps cat1<br>itc pas<br>itc fut<br>v 1</td>
                <td>pps cnt1<br>itc pas<br>itc fut<br>v 1</td>
                <td>pps cat1<br>itc pre<br>v 1</td>
                <td>pps cnt1<br>itc fut<br>v 1</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td>Ø</td>
                <td colspan="2">Ø</td>
                <td colspan="2">Ø</td>
                <td>Ø</td>
                <td>Ø</td>
            </tr>
        </table>
        <div></div>
        <button class="fixed-button button-1" onclick="window.location.href='/'">
            tdm
        </button>
        <button class="fixed-button button-2" onclick="window.location.href='/conj_auto_0.2.3'">
            con
        </button>
        <button class="fixed-button buttonA" onclick="change_couleur()">
            🌚
        </button>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>
